.footer-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: relative;
  }
  
  .footer-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    padding: 1rem;
    color: var(--text-primary);
  }
  
  .logo {
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav {
    width: 100%;
    max-width: 800px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 20%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      text-align: center;
      font-size: 12px;
    }
    
    .nav-link {
      font-size: 1rem;
    }
  }
  
  .social-media-icons {
    display: flex;
    margin-top: 1rem;
  }
  
  .social-media-icon {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    transition: color 0.2s ease-in-out;
  }
  
  .social-media-icon:hover {
    color:#DF8908;
  }
  
  .copyright {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: var(--soft2);
    text-align: center;
  }
  